<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ALERT_CONTRACT" value="toulouse" />
	</appSettings>
 <system.serviceModel>
  <bindings>
	  <basicHttpBinding>
		  <binding name="BasicHttpBinding_IProxyService"
				   maxReceivedMessageSize="2000000"
				   maxBufferSize="2000000"
				   maxBufferPoolSize="2000000">
			  <readerQuotas maxDepth="32"
							maxStringContentLength="2000000"
							maxArrayLength="2000000"
							maxBytesPerRead="4096"
							maxNameTableCharCount="2000000"/>
		  </binding>
	  </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:8734/Design_Time_Addresses/ProxyCacheService/Service1/"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProxyService"
    contract="ProxyCache.IProxyService" name="BasicHttpBinding_IProxyService" />
  </client>
 </system.serviceModel>
</configuration>