<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- ORS token and API key required for reading keys in ProxyService (ConfigurationManager.AppSettings) -->
	<appSettings>
		<add key="ORS_BEARER" value="eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImI0YjU4NGMyOThkNjQ3ZGZiMGUwZjJjZDliZTVhZDg1IiwiaCI6Im11cm11cjY0In0=" />
		<add key="JCDECAUX_API_KEY" value="13f2c4be0f2297fac09d629d0ca3bebec76b9627" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
