<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Mutăm aici cheia folosită în RoutingServiceREST (ConfigurationManager.AppSettings) -->
		<add key="JCDECAUX_API_KEY" value="13f2c4be0f2297fac09d629d0ca3bebec76b9627" />
	</appSettings>

	<system.serviceModel>
		<!-- AICI rămân DOAR lucrurile de client pentru ProxyCacheService -->
		<bindings>
			<basicHttpBinding>
				<binding name="LargeProxyBinding"
						 maxBufferSize="2147483647"
						 maxReceivedMessageSize="2147483647"
						 maxBufferPoolSize="2147483647"
						 transferMode="Buffered"
						 messageEncoding="Text">
					<readerQuotas maxDepth="64"
								  maxStringContentLength="2147483647"
								  maxArrayLength="2147483647"
								  maxBytesPerRead="2147483647"
								  maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
		</bindings>

		<client>
			<endpoint address="http://localhost:8734/Design_Time_Addresses/ProxyCacheService/Service1/"
					  binding="basicHttpBinding"
					  bindingConfiguration="LargeProxyBinding"
					  contract="ProxyRef.IProxyService"
					  name="BasicHttpBinding_IProxyService" />
		</client>
	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
